.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 10px 14px;
  font-size: 16px;
  line-height: 1.4375;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #335075;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: 0.65;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-default {
  color: #335075;
  background-color: #eaebed;
  border-color: #dcdee1;
}
.btn-default:focus,
.btn-default.focus {
  color: #335075;
  background-color: #cfd1d5;
  border-color: #989da6;
}
.btn-default:hover {
  color: #335075;
  background-color: #cfd1d5;
  border-color: #bbbfc5;
}
.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
  color: #335075;
  background-color: #cfd1d5;
  background-image: none;
  border-color: #bbbfc5;
}
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle.focus {
  color: #335075;
  background-color: #bbbfc5;
  border-color: #989da6;
}
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled.focus,
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus {
  background-color: #eaebed;
  border-color: #dcdee1;
}
.btn-default .badge {
  color: #eaebed;
  background-color: #335075;
}

.btn-primary {
  color: #fff;
  background-color: #2572b4;
  border-color: #143c5f;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #1c578a;
  border-color: black;
}
.btn-primary:hover {
  color: #fff;
  background-color: #1c578a;
  border-color: #091c2d;
}
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #1c578a;
  background-image: none;
  border-color: #091c2d;
}
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #16446c;
  border-color: black;
}
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #2572b4;
  border-color: #143c5f;
}
.btn-primary .badge {
  color: #2572b4;
  background-color: #fff;
}

.btn-success {
  color: #fff;
  background-color: #1b6c1c;
  border-color: #071a07;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #114311;
  border-color: black;
}
.btn-success:hover {
  color: #fff;
  background-color: #114311;
  border-color: black;
}
.btn-success:active,
.btn-success.active,
.open > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #114311;
  background-image: none;
  border-color: black;
}
.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:active.focus,
.btn-success.active:hover,
.btn-success.active:focus,
.btn-success.active.focus,
.open > .btn-success.dropdown-toggle:hover,
.open > .btn-success.dropdown-toggle:focus,
.open > .btn-success.dropdown-toggle.focus {
  color: #fff;
  background-color: #0a270a;
  border-color: black;
}
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled.focus,
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success.focus {
  background-color: #1b6c1c;
  border-color: #071a07;
}
.btn-success .badge {
  color: #1b6c1c;
  background-color: #fff;
}

.btn-info {
  color: #fff;
  background-color: #4d4d4d;
  border-color: #1a1a1a;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #343333;
  border-color: black;
}
.btn-info:hover {
  color: #fff;
  background-color: #343333;
  border-color: black;
}
.btn-info:active,
.btn-info.active,
.open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #343333;
  background-image: none;
  border-color: black;
}
.btn-info:active:hover,
.btn-info:active:focus,
.btn-info:active.focus,
.btn-info.active:hover,
.btn-info.active:focus,
.btn-info.active.focus,
.open > .btn-info.dropdown-toggle:hover,
.open > .btn-info.dropdown-toggle:focus,
.open > .btn-info.dropdown-toggle.focus {
  color: #fff;
  background-color: #222222;
  border-color: black;
}
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled.focus,
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus {
  background-color: #4d4d4d;
  border-color: #1a1a1a;
}
.btn-info .badge {
  color: #4d4d4d;
  background-color: #fff;
}

.btn-warning {
  color: #000;
  background-color: #f2d40d;
  border-color: #917f08;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #000;
  background-color: #c2aa0a;
  border-color: #181501;
}
.btn-warning:hover {
  color: #000;
  background-color: #c2aa0a;
  border-color: #574c05;
}
.btn-warning:active,
.btn-warning.active,
.open > .btn-warning.dropdown-toggle {
  color: #000;
  background-color: #c2aa0a;
  background-image: none;
  border-color: #574c05;
}
.btn-warning:active:hover,
.btn-warning:active:focus,
.btn-warning:active.focus,
.btn-warning.active:hover,
.btn-warning.active:focus,
.btn-warning.active.focus,
.open > .btn-warning.dropdown-toggle:hover,
.open > .btn-warning.dropdown-toggle:focus,
.open > .btn-warning.dropdown-toggle.focus {
  color: #000;
  background-color: #a08c09;
  border-color: #181501;
}
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #f2d40d;
  border-color: #917f08;
}
.btn-warning .badge {
  color: #f2d40d;
  background-color: #000;
}

.btn-danger {
  color: #fff;
  background-color: #bc3331;
  border-color: #6b1d1c;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #942826;
  border-color: #060202;
}
.btn-danger:hover {
  color: #fff;
  background-color: #942826;
  border-color: #3b100f;
}
.btn-danger:active,
.btn-danger.active,
.open > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #942826;
  background-image: none;
  border-color: #3b100f;
}
.btn-danger:active:hover,
.btn-danger:active:focus,
.btn-danger:active.focus,
.btn-danger.active:hover,
.btn-danger.active:focus,
.btn-danger.active.focus,
.open > .btn-danger.dropdown-toggle:hover,
.open > .btn-danger.dropdown-toggle:focus,
.open > .btn-danger.dropdown-toggle.focus {
  color: #fff;
  background-color: #77201f;
  border-color: #060202;
}
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #bc3331;
  border-color: #6b1d1c;
}
.btn-danger .badge {
  color: #bc3331;
  background-color: #fff;
}

.btn-link {
  font-weight: 400;
  color: #295376;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #0535d2;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus {
  color: #6f6f6f;
  text-decoration: none;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

/*
	WET-BOEW
	@title: Bootstrap overrides for WET-BOEW - Core CSS - button
 */
.btn-default:visited {
  color: #335075;
}

.btn-primary:visited {
  color: #fff;
}

.btn-success:visited {
  color: #fff;
}

.btn-info:visited {
  color: #fff;
}

.btn-warning:visited {
  color: #000;
}

.btn-danger:visited {
  color: #fff;
}

/*
 *  Use button border style 'outset' to give buttons depth, except when disabled
 */
.btn {
  border-style: outset;
  /*
	 * These two property overrides should be recommended upstream to
	 * Bootstrap as a fix for button wrapping (see wet-boew/wet-boew#4454)
	 */
  height: auto;
  min-width: 36px;
  white-space: normal;
}

/*
 WET button overwrites
 */
body .btn-primary {
  background-color: #26374a;
  border-color: #26374a;
}

.btn {
  font-family: Lato, sans-serif;
}

/* Call-to-action button style - new with GCWeb v5 */
.btn-call-to-action {
  color: #fff;
  background-color: #318000;
  border-color: #458259;
  font-size: 1.1em;
  margin-bottom: 25px;
  margin-top: 15px;
  padding: 0.58em 1em;
  text-shadow: 1px 2px #333;
}
.btn-call-to-action:focus,
.btn-call-to-action.focus {
  color: #fff;
  background-color: #1d4d00;
  border-color: #192f20;
}
.btn-call-to-action:hover {
  color: #fff;
  background-color: #1d4d00;
  border-color: #305a3e;
}
.btn-call-to-action:active,
.btn-call-to-action.active,
.open > .btn-call-to-action.dropdown-toggle {
  color: #fff;
  background-color: #1d4d00;
  background-image: none;
  border-color: #305a3e;
}
.btn-call-to-action:active:hover,
.btn-call-to-action:active:focus,
.btn-call-to-action:active.focus,
.btn-call-to-action.active:hover,
.btn-call-to-action.active:focus,
.btn-call-to-action.active.focus,
.open > .btn-call-to-action.dropdown-toggle:hover,
.open > .btn-call-to-action.dropdown-toggle:focus,
.open > .btn-call-to-action.dropdown-toggle.focus {
  color: #fff;
  background-color: #102900;
  border-color: #192f20;
}
.btn-call-to-action.disabled:hover,
.btn-call-to-action.disabled:focus,
.btn-call-to-action.disabled.focus,
.btn-call-to-action[disabled]:hover,
.btn-call-to-action[disabled]:focus,
.btn-call-to-action[disabled].focus,
fieldset[disabled] .btn-call-to-action:hover,
fieldset[disabled] .btn-call-to-action:focus,
fieldset[disabled] .btn-call-to-action.focus {
  background-color: #318000;
  border-color: #458259;
}
.btn-call-to-action .badge {
  color: #318000;
  background-color: #fff;
}

.btn-call-to-action:visited {
  color: #fff;
}

input.btn.btn-call-to-action {
  padding-bottom: 2em;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

a {
  text-decoration: underline;
}
a:visited {
  color: #7834bc;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):hover,
a:not([href]):focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #295376;
}
