/* @import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css); */
/* @import url(https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/theme.min.css); */
/* @import url(https://wet-boew.github.io/wet-boew/theme-wet-boew/css/theme.min.css); */

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
}

.checkbox label,
.radio label {
  min-height: 23px;
  padding-left: 0px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

.form-check-inline {
  display: inline-block;
  margin-right: 1rem;
}

* .token.plain-text {
  color: #ffffff;
}
